In [ ]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [ ]:
# load the dataset
data=pd.read_csv('LabTAT.csv')
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [ ]:
#When we are comparing more than 2 quantities so that we can go Anova ftest statistics : 
p_value=stats.f_oneway(data.iloc[:,0],data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])#stats.f_oneway(column-1,column-2,column-3,column-4)
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [ ]:
p_value[1]  # compare it with α = 0.05

2.1156708949992414e-57

# Inference:

compare p_value with α = 0.05 (At 5% significance level) if p<α reject null hypothesis

Anova ftest statistics: Analysis of varaince between more than 2 samples or columns

Assume Null Hypothesis (Ho) as No Varaince: All samples TAT population means are same

Thus Alternate Hypothesis (Ha) as It has Variance: Atleast one sample TAT population mean is different

p_value=2.1156708949992414e-57 Almost equal to zero < 0.05 We reject null hypothesis

Atleast one sample TAT population mean is different Thus there is variance or difference in average Turn Around Time (TAT) of reports of the laboratories on their preferred list.